.works {
    background-image: linear-gradient(to right, crimson, rgb(218, 0, 0));
    display: flex;
    // justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .arrow {
        font-size: 50px;
        position: absolute;
        cursor: pointer;
        &.left {
            left: 100px;
            // transform: rotate(180deg);
        }
        &.right {
            right: 100px;
            transform: rotate(180deg);
        }
    }
    .slider {
        transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
        height: 200px;
        display: flex;
        // border: 2px solid black;
        position: absolute;
        left: 0vw;
        .container {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            .items {
                width: 450px;
                height: 100%;
                background-color: white;
                // border: 2px solid black;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                .left {
                    flex: 0.5;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .leftContainer {
                        width: 95%;
                        height: 100%;
                        // border: 1px solid red;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(223, 207, 102);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 15px;
                            img {
                                width: 25px;
                                // height: 30px;
                            }
                        }
                        h2 {
                            margin-bottom: 5px;
                            font-size: 15px;
                        }
                        p {
                            margin-bottom: 25px;
                            font-size: 7px;
                            font-weight: 500;
                        }
                        a {
                            font-size: 12px;
                            font-weight: 700;
                            color: black;
                        }
                    }
                }
                .right {
                    height: 100%;
                    flex: 1;
                    // border: 1px solid red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    img {
                        width: 250px;
                        height: 510px;
                        border-radius: 10px;
                        transform: rotate(-10deg);
                    }
                }
            }
        }
    }
}